<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/static/backend/css/main.css" />
		<title>
			{% block title %}SoundIT Venue{% endblock title %}
		</title>
	</head>
	<body>
		<div id="menu">
			{% block menu %}
			<h1><a href="http://www.soundit.ca">SOUND<b>IT</b></a></h1>
			<div>
				<ul>
					<li><a href="introduction">INTRODUCTION</a></li>
					<li class="cur"><a href="shanghai">SHANGHAI</a></li>
					<li><a href="beijing">BEIJING</a></li>
					<li><a href="traveling">TRAVELING</a></li>
				</ul>
				<ul>
					<li class="cur"><a href="shanghai-blog">BLOG</a></li>
					<li><a href="shanghai-activities">ACTIVITIES</a></li>
					<li><a href="shanghai-photos">PHOTOS</a></li>
					<li><a href="shanghai-events">EVENTS</a></li>
				</ul>
			</div>
			{% endblock menu %}		
		</div>
		<div id="content">
			{% block content %}{% endblock content %} 
		</div>
		<div id="bg">
			{% block bg %} 
			<div>
				<table cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td>
								<img alt="" src="http://api.soundit.ca/static/webapp/backgrounds/bg_0.jpg">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			{% endblock bg %}
		</div>
	</body>
</html>