{% extends "base.html" %}

{% block title %}SoundIT Venue| Currently Playing{% endblock %}

{% block content %}
	<div class="box">
		<span class="fs-xl">CURRENT PLAYLIST</span>
		<div id="flipbox" class="current-playlist-box m-basic-t">
		{% if music_track_list %}
		    {% for track in music_track_list %}
		    	<div class="o-h {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		    		<div class="playlist-item-art">
		    			{% if track.album.image_URL %}
		    				{% with url=track.album.image_URL %}
		    					<img width="100" height="100" src="{{url}}">
		    				{% endwith %}
	    				{% else %}
	    					{% with url="http://api.soundit.ca/static/venue/soundit_logo_small.png" %}
	    						<img width="100" height="100" src="{{url}}">
	    					{% endwith %}
    					{% endif %}
		    		</div>
		    		<div class="playlist-item-data fs-m">
		    			<ul>
		    				<li class="p-small-t">{{track.name}}</li>
		    				<li class="p-small-t">{{track.album.name}}</li>
		    				<li class="p-small-t">{{track.artist.name}}</li>
		    			</ul>
		    		</div>
		    		<div class="playlist-item-votes">
		    			10
		    		</div>
		    	</div>
		    {% endfor %}
		{% else %}
		    <p>No tracks are available.</p>
		{% endif %}
		</div>
		<script type="text/javascript">
		$(document).ready(function() {
	    	$("#flipbox").bind("click", function() {
	    		$("#flipbox").flip({
	    			direction: 'rl'
	    		});
	    	});
    	});
    	</script>
	</div>
{% endblock %}